{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier",
    "jsx-a11y",
    "react",
    "react-hooks"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "jsx-a11y/mouse-events-have-key-events": "off",
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "react/button-has-type": "off",
    "react/function-component-definition": "off",
    "react/hook-use-state": "warn",
    "react/jsx-handler-names": [
      "warn",
      {
        "checkLocalVariables": true
      }
    ],
    "react/jsx-no-useless-fragment": "warn",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/destructuring-assignment": "off",
    "class-methods-use-this": "off",
    "react/react-in-jsx-scope": "off",
    "import/extensions": "off",
    "react/sort-prop-types": [
      "warn",
      {
        "callbacksLast": true
      }
    ]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"]
    }
  ]
}
