.conclusionBlock {
  background-color: #f3f3f3;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
}

.TextContent {
  text-align: center;
}

.TextContent h1 {
  padding-bottom: 50px;
}

.TextContent p {
  font-size: 28px;
  padding-bottom: 40px;
}

.TextContent label {
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 550px) {
  .conclusionBlock {
    padding-left: 80px;
    padding-right: 80px;
  }
}
