.feedbackBlock {
  background-color: var(--white);
  padding-top: 100px;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 100px;
}
.headers {
  text-align: center;
  color: #1f2629;
  font-size: 20px;
  padding-bottom: 100px;
}
.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

@media (max-width: 1200px) {
  .feedbackBlock {
    padding-left: 200px;
    padding-right: 200px;
  }

  .headers {
    font-size: 15px;
    padding-bottom: 80px;
  }

  .grid {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 900px) {
  .feedbackBlock {
    padding-left: 100px;
    padding-right: 100px;
  }

  .headers {
    font-size: 15px;
    padding-bottom: 60px;
  }

  .grid {
    grid-template-columns: auto;
  }
}
