.createWorkout {
  display: grid;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 40px;
  background-color: var(--white);
}
.formFields {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  width: 200px;
  padding-top: 30px;
}
