.rateBlock {
  padding-top: 60px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 70px;
  background-color: rgba(252, 203, 38, 0.85);
}

.header {
  font-family: var(--main-font);
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  padding-bottom: 50px;
}

.container {
  display: grid;
  gap: 220px;
  grid-template-columns: auto auto auto;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}

.container p {
  font-size: 25px;
  font-weight: 700;
}

@media (max-width: 1100px) {
  .rateBlock {
    padding-left: 100px;
    padding-right: 100px;
  }

  .container {
    gap: 150px;
  }
}

@media (max-width: 900px) {
  .rateBlock {
    padding-left: 80px;
    padding-right: 80px;
  }

  .container {
    gap: 50px;
    grid-template-columns: auto;
  }
}
