.RateBlock {
  background-color: var(--orange-transparent1);
  padding: 50px 30px;
}

.RateBlock__Title {
  font-size: var(--big-title-fs);
  text-align: center;
  padding-bottom: 50px;
}

.RateBlock__Content {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  font-size: var(--title-fs);
  text-align: center;
  max-width: 1000px;
}

.RateBlock__Content p {
  font-size: var(--small-title-fs);
  font-weight: 700;
}

@media (max-width: 690px) {
  .RateBlock__Content {
    grid-template-columns: 1fr;
  }
}
