.imageBlock {
  color: #ffff;
  font-size: 50px;
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
  font-family: var(--main-font);
  text-align: center;
  background-image: linear-gradient(rgba(10, 39, 51, 0.8), rgba(0, 0, 0, 0)),
    url(../../../assets/landingBackground.jpg);
  background-repeat: no-repeat;
  background-size: auto, cover;
}
.headers {
  padding-bottom: 10px;
}
@media (min-width: 700px) and (max-width: 1200px) {
  .imageBlock {
    color: #ffff;
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    font-size: 35px;
  }
}

@media (max-width: 700px) {
  .imageBlock {
    color: #ffff;
    padding-top: 150px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    font-size: 30px;
  }
}
